---
import ExperienceItem from "./ExperienceItem.astro";
type Experience = {
    date: string,
    title: string,
    description: string
}
const EXPERIENCE : Experience[] = []

const {currentLocale} = Astro
import { getI18N } from "@/src/i18n";
const i18n = getI18N({currentLocale})

import BriefcaseIcon from "@/src/icons/BriefcaseIcon.astro"
import ToolsIcon from "@/src/icons/ToolsIcon.astro"
import resume from "@/public/Resume Pedro Gochman English.pdf"
import cv from "@/public/CV Pedro Gochman Español.pdf"
import PDFIcon from "@/src/icons/PDFIcon.astro";

---

<div class="flex flex-col flex-wrap justify-center sm:min-w-[540px]  my-6 ">
{EXPERIENCE.length ? (
    <h1 class="flex justify-center lg:text-3xl text-xl sm:mb-2 items-center"><ToolsIcon class="size-8 lg:size-10"/> {i18n.EXPERIENCE}</h1>
        <ol class="relative border-s border-my-green-20 text-pretty">  
            {EXPERIENCE.map(({date, title, description}, index) => {
                return (
                    <li class={`${index!==EXPERIENCE.length -1 ? "mb-10" : ""} ms-4`}>
                        <ExperienceItem date={date} title={title} description={description} /> 
                    </li>
                ) 
            })}                
        </ol>
) : (
    <></>
)}
<h1 class="flex justify-center lg:text-3xl text-xl sm:mb-2 items-center"><BriefcaseIcon class="size-8 lg:size-10" />{i18n.RESUME}</h1>
<a href={currentLocale == "en" ? resume : cv } download={i18n.RESUME_DOWNLOAD} class="sm:mx-[20%] justify-center text-sm sm:text-base flex items-center bg-gradient-to-r from-my-green-8 via-my-green-10 to-my-green-12 sm:w-3/5 hover:from-my-green-10 hover:via-my-green-14 hover:to-my-green-18 focus:outline-none rounded-lg px-5 py-2.5 text-center me-2 mb-2"><PDFIcon class="size-5 sm:size-6" />{i18n.RESUME_TEXT}</a>
</div>    

