---
const {currentLocale} = Astro
import { getI18N } from "@/src/i18n"
const i18n = getI18N({currentLocale})
import {css, javascript, node, next, express, postgre, react, tailwind, mercadoPago, firebase} from "@/src/data/techs"
import Project from "./Project.astro"

import connectInkPhoto from "@/public/LandingConnectInk.png"
import countriesPhoto from "@/public/PhotoCountries.png"

import LaptopIcon from "@/src/icons/LaptopIcon.astro"


const PROJECTS = [
    {
        name: "ConnectInk",
        description: i18n.CONNECTINK_DESCRIPTION,
        date: "Nov 2023 - Dic 2023",
        techs: [javascript, next, css, tailwind, node, express, postgre, mercadoPago, firebase],
        repository: "https://github.com/santicasalis/ConnectInk",
        deploy: "https://connectink.vercel.app/",
        photo: connectInkPhoto.src
    },
    {
        name: i18n.COUNTRIES_NAME,
        description: i18n.COUNTRIES_DESCRIPTION,
        date: "Oct 2023 - Nov 2023",
        techs: [javascript, react, css, node, express, postgre],
        repository: "https://github.com/PGochman/cr-pi-countries-main",
        photo: countriesPhoto.src
    }
]
---
<div class="flex flex-col flex-wrap justify-center flex flex-wrap sm:min-w-[540px] ">
    <h1 class="flex justify-center lg:text-3xl text-xl sm:mb-2 items-center"><LaptopIcon class="size-8 lg:size-10"/> {i18n.PROJECTS}</h1>
        {PROJECTS.map(({name, description, date, techs, repository, deploy, photo}) => {
            return <div class="flex flex-col sm:mx-4 items-center sm:items-start text-balance sm:text-wrap w-full my-6">
                <Project name={name} description={description} date={date} techs={techs} repository={repository} deploy={deploy} photo={photo}/>
            </div>
        })}
    </div>
</div>